html {
  background-color: #b7f497;
}

html {
  font-family: 'Epilogue', sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

.linkedin_and_github_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

input[type="text"]:focus {
  border: 3px solid aqua;
  background-color: aqua;
}

input[type="submit"] {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.content {
  margin-top: 75px;
}
