main {
  height: 100%;
  min-height: 95vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 500px;
  height: 570px;
  display: flex;
  flex-direction: column;
}

body {
  background: url(https://media.istockphoto.com/id/1283068536/photo/green-paper-texture.webp?b=1&s=170667a&w=0&k=20&c=VhHaL0ysyDfbPb-tU3E3b9g9NimHVLKih1lA57-VQs8=);
  background-size: 1560px;
  font-family: "Epilogue", sans-serif;
}

#card {
  background-color: #b7f497;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  border-radius: 25px;
}

#card img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 5px solid #386a20;
}

.hr1 {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #386a20;
  margin-top: 10px;
  margin-bottom: 10px;
}

#information-button {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  transition: 0.4s;
  color: white;
  font-size: 12px;
  background-color: #386a20;
}

#information-button:hover {
  background-color: #358c2f;
  color: white;
}

#icons i {
  color: white;
  background-color: #333333;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  line-height: 30px;
}

#icons i:hover {
  background-color: #386a20;
}

ul {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

#name {
  color: #386a20;
}

#description {
  font-size: 20px;
}

.i-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 100%;
  background-color: brown;
  color: white;
  text-align: center;
}
