html {
  background-color: #b7f497;
}

html {
  font-family: "Epilogue", sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

th {
  border: 3px solid #386a20;
  padding: 10px;
}

td {
  border: 3px solid #386a20;
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  margin-left: 15px;
  margin-top: 110px;
}

.ada {
  display: block;
  width: 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.school {
  width: 200px;
  margin-top: 20px;
}
