html {
  background-color: #00ffff;
}

html {
  font-family: "Kablammo", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

table,
tr,
td {
  border: 1px solid darkblue;
}

.content {
  margin-top: 75px;
}
