html {
  background-color: #b7f497;
}

html {
  font-family: "Epilogue", sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

table,
tr,
td {
  border: 1px solid darkblue;
}

.content {
  margin-top: 75px;
}

.ada {
  display: block;
  width: 200px;
}

.school {
  width: 200px;
}
