.my_footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: transparent;
  color: 042200;
  height: 50px;
  align-items: center;
  justify-content: center;
}
