html {
  background-color: brown;
}

html {
  font-family: "Kablammo", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.photo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.photo_and_about {
  border-collapse: collapse;
  width: 90%;
}

.about {
  max-width: 200px;
  font-size: x-large;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

#photo_and_about_div {
  display: block;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-right: 10%;
}

#navigation_bar {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navigation_bar li {
  display: inline-block;
  margin: 0;
}

#navigation_bar a {
  display: block;
  color: rgb(189, 194, 255);
  padding: 20px;
  text-align: center;
}

.photo:hover {
  width: 320px;
  height: 320px;
  transform: scale(1.1);
}

hr {
  width: 64%;
  border: 2px dashed darkblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: darkblue;
  color: red;
}

.active {
  background-color: #04aa6d;
}

.index_footer {
  display: block;
  position: fixed;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: blue;
  color: white;
}
