html {
  background-color: #00ffff;
}

html {
  font-family: "Kablammo", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.center_elements {
  text-align: center;
}

.photo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

#navigation_bar {
  background-color: #00ffff;
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}

#navigation_bar li {
  display: inline-block;
  margin: 0;
}

#navigation_bar a {
  display: block;
  color: rgb(189, 194, 255);
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.photo:hover {
  width: 320px;
  height: 320px;
  transform: scale(1.1);
}

hr {
  width: 64%;
  border: 2px dashed darkblue;
}

li {
  display: inline-block;
  height: 25px;
  width: 266px;
  list-style-type: none;
  background-color: rgb(66, 63, 216);
  padding-bottom: 20px;
  padding-top: 10px;
}

li:hover {
  background-color: black;
  color: antiquewhite;
}
