#navigation_bar {
  background-color: #b7f497;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 10px;
}

#navigation_bar li {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
}

#navigation_bar a {
  display: block;
  color: black;
  padding: 15px;
  text-align: center;
}

ul.navigation_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ac5858;
  position: fixed;
  top: 0;
  width: 100%;
}

li.navigation_list {
  color: white;
  float: left;
  background-color: #b7f497;
}

li.navigation_list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation_bar a:hover:not(.active) {
  background-color: #92cc74;
  color: #fff;
  border-radius: 15px;
}

a.active {
  background-color: #386a20;
  border-radius: 15px;
}

#navigation_bar a.active {
  color: white;
}

#logo {
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
