html {
  background-color: #b7f497;
}

html {
  font-family: "Epilogue", sans-serif;
}

body {
  margin: 0 auto;
}

.content {
  margin-top: 75px;
  border-radius: 5px;
  padding: 1px;
}

fieldset {
  border: 3px solid #386a20;
  width: 400px;
  height: 765px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 2px;
  margin-bottom: 0.1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #386a20;
  color: white;
  padding: 14px 20px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"] {
  width: 100%;
  background-color: #48c040;
  color: white;
  padding: 14px 20px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.name_label {
  margin-top: 10px;
}

.inputs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gender {
  margin-bottom: 15px;
}

.film_genre_label {
  margin-bottom: 10px;
}

.group {
  margin-bottom: 10px;
}

#example {
  margin-top: 10px;
}
