html {
  background-color: #00ffff;
}

html {
  font-family: "Kablammo", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  padding: 5px 5px;
  border: 2px solid darkblue;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.content {
  margin-top: 75px;
}
